<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.boardver3.board.BoardMapper">
    <insert id="insBoard">
        INSERT INTO t_board
        SET title = #{title}
        , ctnt = #{ctnt}
        , iuser = #{iuser}
    </insert>

    <select id="selBoard" resultType="BoardVo">
        SELECT a.iboard, a.title, a.created_at, b.nm writer, b.main_pic writerMainPic
        FROM t_board a
        INNER JOIN t_user b
        ON a.iuser = b.iuser
        ORDER BY iboard DESC
        LIMIT ${startIdx}, ${rowLen}
    </select>

    <select id="selLastBoard" resultType="int">
        SELECT COUNT(*) max
        FROM t_board
    </select>

    <select id="selBoardById" resultType="BoardDetailVo">
        SELECT a.iboard, a.title, a.ctnt, a.created_at createdAt
              ,a.updated_at updatedAt, b.nm writer, b.main_pic writerMainPic
        FROM t_board a
        INNER JOIN t_user b
        ON a.iuser = b.iuser
        WHERE iboard = #{iboard}
    </select>



</mapper>