<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.boardver3.cmt.CmtMapper">
    <insert id="insCmt"
            useGeneratedKeys="true"
            keyProperty="iboardCmt">
        INSERT INTO t_board_cmt
        SET iboard = #{iboard}
        , iuser = #{iuser}
        , ctnt = #{ctnt}
    </insert>

    <select id="selPageCmt" resultType="CmtSelPageVo">
        SELECT A.iboard_cmt, A.iboard, A.iuser, B.nm writer
                , B.main_pic writerMainPic, A.ctnt, A.created_at createdAt,
        FROM t_board_cmt A
        INNER JOIN t_user B
        ON A.iuser = B.iuser
        WHERE A.iboard = #{iboard}
        LIMIT #{startIdx}, #{row}
    </select>

</mapper>